{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Users administration{% endtrans %}{% endblock %}

{% block body %}
    <div class="container-fluid wrapper container_special">
        <h1 class="hight_title text_black text-center mt-3 mb-3">{% trans %}Users management{% endtrans %} ({{stats.users}})</h1>
        <a href="{{path('admin_dashboard_index')}}"  class="btn btn-dark"><i class="fa-solid fa-arrow-left"></i> | {% trans %}Back to{% endtrans %} dashboard</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text_black">Id</th>
                    <th class="text_black">{% trans %}Full name{% endtrans %}</th>
                    <th class="text_black">{% trans %}Mail{% endtrans %}</th>
                    <th class="text_black">{% trans %}Role{% endtrans %}</th>
                    <th class="text_black">{% trans %}Verified{% endtrans %}</th>
                    <th class="text-center text_black">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pagination.data %}
                    <tr {% if user == app.user %}class="text-primary"{% endif %}>
                        <td class="text_black">{{user.id}}</td>
                        <td class="text_black">{{user.fullName}}</td>
                        <td class="text_black">{{user.mail}}</td>
                        <td class="text_black">
                            [ 
                            {% for role in user.roles %}
                                {% if loop.last %}
                                    {{role}}
                                {% else %}
                                    {{role}},
                                {% endif %}
                            {% endfor %}
                            ]
                        </td>
                        <td class="text_black">
                            {% if user.isVerified %}
                                YES
                                {% else %}
                                NO
                            {% endif %}
                            
                        </td>
                        <td class="text-center">
                            {% if user != app.user %}
                            <a href="{{path('admin_user_delete',{'id' : user.id})}}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {# pagination #}
        {{pagination.display()}}

    </div>
{% endblock %}

