<nav>
	<ul class="margin_nav">
		<li>
		<div id="logoMenu">
			<img id="logoImage" src="../../images/discopicslogo_white.svg" alt="logo_Menu">
		</div>
		</li>
		<li class="anim_underline"><a href="{{ path('homepage') }}">Home</a></li>
		<li class="anim_underline"><a href="#">Recherche</a></li>
		<li class="anim_underline"><a href="#">Découvrir</a></li>
	</ul>
    <ul class="connexionZone">
	{% if app.user and is_granted('ROLE_USER') %}
        <li class="anim_underline"><a href="{{ path('account_logout') }}">Déconnexion</a></li>
		<li class="anim_underline"><a href="{{ path('account_index') }}">{{app.user.fullName}}</a></li>
	{% else %}
		<li class="anim_underline"><a href="{{ path('account_login') }}">Connexion</a></li>
		<li class="anim_underline"><a href="{{ path('account_register') }}">Inscription</a></li>
	{% endif %}
    </ul>
</nav>
<div id="burger">
	<div class="bar ligneH"></div>
	<div class="bar ligneM"></div>
	<div class="bar ligneB"></div>
</div>
<div class="menuBurger">
	<div class="containerMenuBurger">
		<a href="#" class="lienMenuBurger">Home</a>
		<a href="#" class="lienMenuBurger">Recherche</a>
		<a href="#" class="lienMenuBurger">Découvrir</a>
	</div>
</div>



