{% set url = path('publication_show', {'slug': publication.slug}) %}
<a href="{{url}}">
<div class="rect_whith_hover">
    <img src="{{publication.image}}" alt="{{publication.name}}">
    <div class="hover_infos">
        <div class="container_infos">
            <h3 class="infos little_title">{{publication.place}}</h3>
            {% if publication.ratings | length > 0 %}
                {% include "partials/rating.html.twig" with {'rating' : publication.avgRatings} %} ({{publication.ratings | length }} {% trans %}reviews{% endtrans %})
                {% else %}
                    <small>{% trans %}Not rated yet{% endtrans %}</small>
            {% endif %}
        </div>
    </div>
</div>
<div class="rect_whithout_hover">
    <h3 class="infos little_title">{{publication.place}}</h3>
    <img src="{{publication.image}}" alt="{{publication.name}}">
    <div class="rating_container">
        {% if publication.ratings | length > 0 %}
            {% include "partials/rating.html.twig" with {'rating' : publication.avgRatings} %} ({{publication.ratings | length }} {% trans %}reviews{% endtrans %})
            {% else %}
                <small>{% trans %}Not rated yet{% endtrans %}</small>
        {% endif %}
        </div>
</div>
</a>