{% set url = path('publication_show', {'slug': publication.slug}) %}
<a href="{{url}}">
<div class="rect">
    <img src="{{publication.image}}" alt="{{publication.name}}">
    <div class="hover_infos">
        <div class="container_infos">
            <h3 class="infos">{{publication.country}}, {{publication.city}}</h3>
            {% if publication.ratings | length > 0 %}
                {% include "partials/rating.html.twig" with {'rating' : publication.avgRatings} %} ({{publication.ratings | length }} avis)
                {% else %}
                    <small>Pas encore noté</small>
            {% endif %}
        </div>
    </div>
</div>
</a>