{% extends 'base.html.twig' %}

{% block title %}Discopics - {{publication.name}}{% endblock %}

{% block body %}
{% set url = path('show_user', {'slug': publication.user.slug, 'id' : publication.user.id}) %}
	<div class="container_page">
		<div class="def_size">
			<img src="{{publication.image}}" alt="{{publication.name}}" class="big_img_show">
		</div>
        {% if ((app.user and app.user == publication.user))%}
        <a href="{{path('publication_delete',{'slug' : publication.slug})}}">
                <div class="button margin_button delete_publication">
                <p>{% trans %}Delete Post{% endtrans %}</p>
                </div>
        </a>
        <a href="{{path('publication_edit_img',{'slug' : publication.slug})}}">
                <div class="button margin_button">
                <p>{% trans %}Edit photo{% endtrans %}</p>
                </div>
        </a>
        {% endif %}
        <div class="meta_photo wrapper">
          {% if is_granted("ROLE_USER") %}
                {% set isFavorite = false %}
                {% for favoris in publication.favorite %}
                    {% if favoris.id == app.user.id %}
                        {% set isFavorite = true %}
                    {% endif %}    
                {% endfor %}
                {% if isFavorite %}
                    <a href="{{ path('remove_favorite',{'id' : publication.id}) }}"><i class="fas fa-heart"></i></a>
                {% else %}
                    <a href="{{ path('add_favorite',{'id' : publication.id}) }}"><i class="far fa-heart"></i></a>
                {% endif %}

            {% else %}
                <i class="far fa-heart"></i>
            {% endif %}
            <h2 class="text_green title_photo middle_title">{% trans %}Name of the photo{% endtrans %}</h2>
            <h4 class="text_black little_title">{{publication.name}}</h4>
            <h2 class="text_green title_photo middle_title">{% trans %}Location{% endtrans %}</h2>
            <h4 class="text_black little_title">{{publication.fullPlace}}</h4>
            <h2 class="text_green title_photo middle_title">{% trans %}photographer{% endtrans %}</h2>
            <h4 class="text_black little_title">{{publication.user.fullName}}</h4>
            {% if ((app.user and app.user == publication.user))%}
            {% else %}
             <a href="{{url}}">
                <div class="button margin_button">
                <p><i class="fa-solid fa-user"></i> | {% trans %}See profile{% endtrans %}</p>
            </div>
            </a>
            {% endif %}
            <h2 class="text_green title_photo middle_title">{% trans %}Photo details{% endtrans %}</h2>
            {% if publication.details %}
            <h4 class="text_black little_title">{{publication.details | raw | nl2br}}</h4>
            {% else %}
            <h4 class="text_black little_title">{% trans %}No details provided{% endtrans %}</h4>
            {% endif %}

            <h2 class="text_green title_photo middle_title">{% trans %}Tips{% endtrans %}</h2>
            {% if publication.tips %}
            <h4 class="text_black little_title">{{publication.tips | raw | nl2br}}</h4>
            {% else %}
            <h4 class="text_black little_title">{% trans %}No tips provided{% endtrans %}</h4>
            {% endif %}
                
            {% if ((app.user and app.user == publication.user))%}
            <a href="{{path('publication_edit',{'slug' : publication.slug})}}">
                <div class="button margin_button">
                <p>{% trans %}Edit information{% endtrans %}</p>
            </div>
            </a>
        {% endif %}
            <h2 class="text_green title_photo middle_title">{% trans %}Review(s){% endtrans %} ({{publication.ratings | length}})</h2>
            {% if publication.ratings | length > 0 %}
                {% include "partials/big_rating.html.twig" with {'rating' : publication.avgRatings} %}
                {% else %}
                    <small class="text_black">{% trans %}Not rated yet{% endtrans %}</small>
            {% endif %}

           

{% if is_granted("ROLE_USER") %}
	{% set isRate = false %}
    {% set idRate = null %}
	{% for rating in publication.ratings %}
		{% if rating.user.id == app.user.id %}
			{% set isRate = true %}
            {% set idRate = rating.id %}
		{% endif %}
	{% endfor %}
	{% if isRate %}
		<a href="{{path('rate_edit',{'id':idRate})}}">
            <div class="button margin_button">
                <p><i class="fa-solid fa-star"></i> | {% trans %}Edit my rating{% endtrans %}</p>
            </div>
        </a>
	{% else %}
  
		<a href="{{path('new_rate',{'slug':publication.slug})}}">
            <div class="button margin_button">
                <p><i class="fa-solid fa-star"></i> | {% trans %}Rate this spot{% endtrans %}</p>
            </div>
        </a>
	{% endif %}

    {% else %}
{% endif %}



        

            {# {% for rating in app.user.ratings %}
                {% if rating.publication.id == publication.id %}
               
                    <h2 class="text_black">ok</h2>
                {% else %}
                    
                    
                     <h2 class="text_black">pas ok</h2>
                   
                
                {% endif %}

            {% endfor %} #}

            <h2 class="text_green title_photo middle_title">{% trans %}Comment(s){% endtrans %} ({{publication.coments | length}})</h2>
            {% if publication.coments | length > 0 %}
                {% for comment in publication.coments %}
                    <div class="container_comment">
                        {% if comment.user.picture %}
                        <img src="/uploads/{{comment.user.picture}}" alt="{% trans %}Avatar of{% endtrans %} {{comment.user.fullName}}">
                        {% else %}
                        <img class="anonyme_profile" src="/images/anonyme_profile.svg" alt="{% trans %}Avatar of{% endtrans %} {{comment.user.fullName}}">
                        {% endif %}
                        <div class="container_content_comment">
                            <div class="name_and_date">
                            
                                <h2 class="text_white middle_title" >{{comment.user.fullName}}</h2>
                            
                                <h4 class="text_white little_title">{{comment.date | date('d/m/Y')}}</h4>
                            </div>
                            <p class="text_white little_title">{{comment.comment}}</p>
                            <div class="buttons_edit_delete_comment">
                                {% if app.user and app.user == comment.user %}
                                   <a id="edit_comment" href="{{path('comment_edit',{'id' : comment.id})}}">
                                        <p>{% trans %}Edit my comment{% endtrans %}</p>
                                    </a>
                                    <a id="delete_comment" href="{{path('comment_delete',{'id' : comment.id})}}">
                                        <p>{% trans %}Delete my comment{% endtrans %}</p>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <small class="text_black">{% trans %}No comments yet{% endtrans %}</small>
            {% endif %}
            <a href="{{path('new_comment',{'slug':publication.slug})}}">
            <div class="button margin_button">
                <p><i class="fa-solid fa-comment"></i> | {% trans %}Add a comment{% endtrans %}</p>
            </div>
            </a>
        </div>
	</div>
{% endblock %}
