{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Comments administration{% endtrans %}{% endblock %}

{% block body %}
    <div class="container-fluid wrapper container_special">
        <h1 class="hight_title text_black text-center mt-3 mb-3">{% trans %}Management of comments for the publication{% endtrans %}</h1>
        <a href="{{path('admin_publications_index')}}"  class="btn btn-dark">{% trans %}Back to{% endtrans %} publications</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text_black">Id</th>
                    <th class="text_black">{% trans %}User{% endtrans %}</th>
                    <th class="text_black">{% trans %}Comment{% endtrans %}</th>
                    <th class="text-center text_black">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td class="text_black">{{comment.comment.id}}</td>
                        <td class="text_black">{{comment.comment.user.fullName}}</td>
                        <td class="text_black">{{comment.comment.comment}}</td>
                        <td class="text-center text_black ">
                            <a href="{{path('admin_comment_delete',{'id' : comment.comment.id, 'idp' : comment.comment.publication.id})}}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
       
    </div>
{% endblock %}