{% extends 'base.html.twig' %}

{% block title %}Discopics - {{user.fullName}}{% endblock %}

{% block body %}
    <div class="container_user_show">
        {% if user.picture %}
        <img src="/uploads/{{user.picture}}" alt="{% trans %}Avatar of{% endtrans %} {{user.fullName}}">
        {% else %}
        <img class="anonyme_profile" src="/images/anonyme_profile.svg" alt="{% trans %}Avatar of{% endtrans %} {{user.fullName}}"> 
        {% endif %}
        <h1 class="text_black hight_title">{{user.fullName}}</h1>
        <h2 class="text_black little_title">{{user.mail}}</h2>
        {% if user.instaLink %}
        <a href="https://www.instagram.com/{{user.instaLink}}" target="_BLANK">
            <div class="button margin_button">
                <p>{% trans %}See instagram account{% endtrans %} <i class="fa-brands fa-instagram"></i></p>
            </div>
        </a>
        {% else %}
        <h2 class="text_black little_title">{% trans %}No associated instagram account{% endtrans %}</h2>
        {% endif %}
    </div>
    <div class="container_special">
    <h1 class="hight_title text_black text_center">{% trans %}Other spots published for this user{% endtrans %}</h1>
    
        {% if publications %}
        <div class="container_img">
            {% for data in publications %}
               {% include 'publication/_publication.html.twig' with {'publication': data.publication} %}
            {% endfor %}
        </div>
        {% else %}
            <h3 class="little_title title_in_middle text_black">{% trans %}User has no post{% endtrans %}</h3>
        {% endif %}
        </div>
{% endblock %}
